<div class="container"
     hotkey="{up: randomGuessWord,
            left: addTeam1Point,
            right: addTeam2Point}"
  >
  <div class="row"></div>
  <div class="row">
    <div class="col-sm-4 text-center">
      <div class="row"><h3>Team 1</h3></div>
      <div class="row"><h4>{{team1Point}}</h4></div>
    </div>
    <div class="col-sm-4 text-center" data-ng-click="reset()"><h2>Play day#2015</h2></div>
    <div class="col-sm-4 text-center">
      <div class="row"><h3>Team 2</H3></div>
      <div class="row"><h4>{{team2Point}}</h4></div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center">
      <br><br>
      <div class="text-center"><h1>{{guessWord}}</h1></div>
      <br><br><br><br><br><br><br><br>
    </div>
  </div>

  <div class="row">
    <br>
    <div class="col-sm-4 text-center">
      <button class="btn btn-success"
              data-ng-click="addTeam1Point()"
        >add point
      </button>
      <button class="btn btn-danger"
              data-ng-click="decreaseTeam1Point()"
        >-
      </button>
    </div>
    <div class="col-sm-4 text-center">
      <button class="btn btn-primary"
              data-ng-click="randomGuessWord()"
        >random
      </button>
    </div>
    <div class="col-sm-4 text-center">
      <button class="btn btn-success"
              data-ng-click="addTeam2Point()"
        >add point
      </button>
      <button class="btn btn-danger"
              data-ng-click="decreaseTeam2Point()"
        >-
      </button>
    </div>
  </div>
  <br>
</div>
